<?xml version="1.0" encoding="UTF-8" ?>
<widget xmlns   = "http://www.w3.org/ns/widgets"
    xmlns:gap   = "http://phonegap.com/ns/1.0"
    id          = "com.emerysfire.crawler"
    version     = "1.0.0" >
	<name>Crawler</name>
	<description>An interesting.</description>
	<author>emerysfire</author>
	<icon src="icon.png" />
	<gap:splash src="icon.png" />
</widget>
